<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Add Festival | moment</title>
</head>
<body>
    <nav class="lg:h-20 lg:w-screen lg:flex lg: items-center lg:justify-between bg-zinc-900 text-orange-300 fixed z-10">
        <p class="ml-24">moment</p>
        <ul class="lg:flex lg:justify-around lg:items-center lg:w-1/3 lg:h-20 lg:mr-16">
            <a href="/">Home</a>
            <a href="/festivals">All Festivals</a>
            <a href="/genres">All Genres</a>
            <a href="/add-fest">Add Festival</a>
        </ul>
    </nav>
    <main class="lg:flex lg:justify-center items-center lg:pt-24">
        <form  method="POST" action="/add-fest" class="lg:h-[26rem] lg:w-[23rem] lg:border-slate-600 lg:border lg:rounded lg:py-8 px-6 ">
            <h3 class="lg:text-center lg:text-2xl">Add a festival</h3>
            <div class="lg:flex lg:flex-col">
                <label for="name">Festival</label>
                <input class="border rounded" type="text" name="name" id="name" required>
                <label for="location">Location</label>
                <input class="border rounded" type="text" name="location" id="name" required>
                <label for="date">Date</label>
                <input class="border rounded" type="text" name="date" id="date" required>
                <label for="genre_id">Genre</label>
                <select class="rounded border" name="genre_id" id="genre_id" required>
                    <option  value="1">Rock</option>
                    <option  value="2">Pop</option>
                    <option  value="3">Hip-Hop / Rap</option>
                    <option  value="4">Electronic / EDM</option>
                    <option  value="5">R&B / Soul</option>
                    <option  value="6">Jazz</option>
                    <option  value="7">Reggae</option>
                    <option  value="8">Country</option>
                    <option  value="9">Indie / Alternative</option>
                    <option  value="10">Latin</option>
                    <option  value="11">K-Pop</option>
                    <option  value="12">Metal</option>
                    <option  value="13" selected>Multi-genre</option>
                </select>
                <label for="image_url">URL for image</label>
                <input class="border rounded" type="url" name="image_url" id="image_url" required>
                <button class="bg-orange-300 rounded mt-4">SUBMIT</button>
            </div>
        </form>
    </main>

</body>
</html>